.card{
    margin: 1.5rem 2rem;
    object-fit: cover;
    text-align: center;
    max-width: 380px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img{
    width: 380px!important;
    height: 380px!important;
    max-width: 380px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cardb{
    background-color: rgba(104, 113, 120, 1);
    min-width: 380px;
  
}
.cardbuttonsdiv{
    background-color: rgba(104, 113, 120, 1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 1rem 1rem;
    min-width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p{
    font-size: 1.2rem;
    color: white;
    margin: 0;
}
.sp {
    color: white;
    font-size: 1.1rem;
}

.buttonSell{
    color: black!important;;
    font-size: 1rem!important;
    padding:1rem 1.5rem!important;
    font-weight: 300 !important;
    background-color:rgb(221, 153, 153) !important;
    border-color: rgb(221, 153, 153) !important;
    
}
.buttonBuy{
    color: black!important;;
    font-size: 1rem!important;
    padding:1rem 1.5rem!important;
    font-weight: 300 !important;
    background-color: rgb(158, 221, 153) !important;
    border: rgb(158, 221, 153) !important;
}
.buttonsp{
    margin: 0;
    font-size: 1.2rem;
    color: white;
}