.info{
    text-align: center;
}

h1{
    font-size: 2.8rem!important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
